<h1 class="page-title">Lista de Administradores (<%= estado %>)</h1>

<div class="filter-links-group">
  <a class="action-button create-button" href="/admins/create">Agregar Admin</a> |
  <a class="filter-link" href="/admins?estado=activo">Activos</a> |
  <a class="filter-link" href="/admins?estado=suspendido">Suspendidos</a>
</div>

<table class="content-table">
  <thead class="table-header">
    <tr>
      <th>Nombre</th>
      <th>Apellido</th>
      <th>Correo</th>
      <th>Usuario</th>
      <th>Estado</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    <% admins.forEach(admin => { %>
      <tr>
        <td><a class="action-link" href="/admins/<%= admin.id %>"><%= admin.nombre %></a></td>
        <td><%= admin.apellido %></td>
        <td><%= admin.email %></td>
        <td><%= admin.username %></td>
        <td><%= admin.estado %></td>
        <td>
          <a class="action-link" href="/admins/<%= admin.id %>/edit">Editar</a>
          <form class="status-form" method="POST" action="/admins/<%= admin.id %>/estado?_method=PUT">
            <select class="form-input form-input-select status-select" name="estado" onchange="this.form.submit()">
              <option value="activo" <%= admin.estado === 'activo' ? 'selected' : '' %>>Activo</option>
              <option value="suspendido" <%= admin.estado === 'suspendido' ? 'selected' : '' %>>Suspendido</option>
              <option value="eliminado" <%= admin.estado === 'eliminado' ? 'selected' : '' %>>Eliminado</option>
            </select>
          </form>
        </td>
      </tr>
    <% }) %>
  </tbody>
</table>

