<h2>Detalles del Administrador</h2>

<ul>
  <li><strong>Nombre:</strong> <%= admin.nombre %></li>
  <li><strong>Apellido:</strong> <%= admin.apellido %></li>
  <li><strong>DNI:</strong> <%= admin.dni %></li>
  <li><strong>Teléfono:</strong> <%= admin.telefono %></li>
  <li><strong>Correo:</strong> <%= admin.email %></li>
  <li><strong>Estado:</strong> <%= admin.estado %></li>
</ul>

<a href="/admins">Volver</a>
