<h1 class="titulo">Detalle del Cliente</h1>
<ul>
  <li>Nombre: <%= cliente.nombre %></li>
  <li>Apellido: <%= cliente.apellido %></li>
  <li>DNI: <%= cliente.dni %></li>
  <li>Teléfono: <%= cliente.telefono %></li>
  <li>Correo: <%= cliente.correo %></li>
</ul>

<a href="/clientes">← Volver a la lista</a>
